<h2>My Heros</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedhero">
    <button type="button" (click)="onSelectHero(hero)">
      <span class="badge">{{ hero.id }}</span>
      <span class="name" [class.selected-name]="hero === selectedhero">{{
        hero.name
      }}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedhero">
  <h2>{{ selectedhero.name | uppercase }} Detail</h2>
  <div>id: {{ selectedhero.id }}</div>
  <div>
    <label for="name">Hero Name:</label>
    <input
      type="text"
      id="name"
      placeholder="hero name"
      [(ngModel)]="selectedhero.name"
    />
  </div>
</div>
